* {
	padding: 0;
	margin: 0;
}


/* Style the tab */
.sidebar {
	float: left;
	top: 0; /* Position the navbar at the top of the page */
	padding-top: 60px; /* Place content 60px from the top */
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	width: 15%;
	height: 100%;
	position: fixed; /* Set the navbar to fixed position */
	left: 0;

}
/* Style the buttons inside the tab */
.sidebar a {
	background-color: #eee;
	color: black;
	display: block;
	padding: 20px;
	text-decoration: none;
	font-size: 17px;
	border: 1px;
}

.sidebar a:hover {
	background-color: #ccc;
}

.sidebar a.active {
	background-color: #4CAF50;
	color: white;
}
.dragon{ 
height: 100px;
width: 100%; 
}

.foot{
	background: black;
	color: white;
	width: 100%;
	margin-top: 10%;
	padding-bottom: 10%;
	text-align: center;
	}

.body{margin-left: 15%}